html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*TODO -> mby specify more in case accordion would be used else where?*/
/* ProjectDetail css */

ul li.nav-item {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.accordion-body {
    padding: 0 !important;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.hidden {
    display: none;
}

/*TODO align*/
.CommentCard {
    margin: 5px 10px
}

    .CommentCard .commentHeader {
        display: flex;
        justify-content: space-between;
        padding: 5px 12px !important;
    }

    .CommentCard .commentText {
        padding: 10px 12px !important;
    }

/*.CommentCard.date {*/
/*float: right;*/
/*}*/
div.card {
    padding: 0px !important;
}